<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>商品管理</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" type="text/css" href="../../font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="../../element-ui-2.0.11/lib/theme-chalk/index.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/common/common.css">
</head>
<body>
<div id="app" v-cloak>
	<el-container>
		<el-header style="padding: 0;">
			<el-form :inline="true">
				<el-form-item>
					<el-input placeholder="输入查询条件" v-model="search.input">
						<template slot="append">
							<el-button v-on:click="searchData(search.input)">搜索</el-button>
						</template>
					</el-input>
				</el-form-item>
				<el-form-item>
					<el-checkbox label="显示禁用商品" v-model="isShowForbiddenCommodity" v-on:change="toggleForbiddenCommdity"></el-checkbox>
				</el-form-item>
			</el-form>
		</el-header>
		<el-container>
			<el-aside width="200px" class="jgb-wrap">
				<div class="jgb-title">
					<h5 class="text-center">快速查询</h5>
				</div>
				<ul class="ul-list">
					<li v-for="(item, index) in queryType" :key="item.value" :value="item.value" v-on:click="changeQueryType(item, index)" :class="{active: index === activeIndex}">
						{{ item.label }}
					</li>
				</ul>
			</el-aside>
			<el-main>
				<div class="jgb-wrap">
					<nav class="jgb-nav">
						<el-button class="pull-left">
							列设置
						</el-button>
						<el-button-group class="pull-right">
							<el-button icon="el-icon-plus" v-on:click="addVisible = true">新增</el-button>
							<el-button icon="el-icon-minus" :disabled="selectedRows.length === 0" v-on:click="remove">删除</el-button>
							<el-button :disabled="selectedRows.length === 0" v-on:click="forbidden">禁用</el-button>
							<el-button :disabled="selectedRows.length === 0" v-on:click="startUsing">启用</el-button>
							<el-button v-on:click="importVisible = true">导入</el-button>
							<el-button v-on:click="exportCilck">导出</el-button>
						</el-button-group>
					</nav>
					<el-table :data="table" ref="table" border v-on:row-click="rowClick" :data="cyTable" v-on:select-all="selectAll" v-on:select="selectItem" :row-class-name="rowStatusClassName" v-loading="loadingDetailInfo">
						<el-table-column type="selection"></el-table-column>
						<el-table-column type="index" label="序号" width="50px"></el-table-column>
						<el-table-column label="操作">
							<template slot-scope="scope">
								<el-button-group>
									<el-button size="mini" v-on:click="handleExamine(scope.$index, scope.row)" type="primary">查看</el-button>
									<el-button size="mini" v-on:click="handleEdit(scope.$index, scope.row)">编辑</el-button>
									<el-button size="mini" type="danger" v-on:click="handleDelete(scope.$index, scope.row)">删除</el-button>
								</el-button-group>
							</template>
						</el-table-column>
						<el-table-column label="图片" prop="img" align="center">
							<template slot-scope="scope">
								<i class="el-icon-picture jgb-table-icon" v-on:click="viewImage(scope.row.img, scope.row)"></i>
							</template>
						</el-table-column>
						<el-table-column label="商品编号" prop="commodityNumber" sortable></el-table-column>
						<el-table-column label="商品名称" prop="commodityName" sortable></el-table-column>
						<el-table-column label="商品标签" prop="commodityTag"></el-table-column>
						<el-table-column label="辅助属性" prop="auxiliaryAttributes"></el-table-column>
						<el-table-column label="商品类别" prop="commodityCategory"></el-table-column>
						<el-table-column label="规格型号" prop="specifications"></el-table-column>
						<el-table-column label="商品品牌" prop="commodityBrand"></el-table-column>
						<el-table-column label="单位" prop="unit"></el-table-column>
						<el-table-column label="当前库存" prop="currentRepertory"></el-table-column>
						<el-table-column label="期初数量" prop="initQuantity"></el-table-column>
						<el-table-column label="单位成本" prop="unitCost">
						</el-table-column>
						<el-table-column label="期初总价" prop="initTotal"></el-table-column>
						<el-table-column label="预计采购价" prop="expectPurchasePrice"></el-table-column>
						<el-table-column label="零售价" prop="retailPrice"></el-table-column>
						<el-table-column label="批发价" prop="tradePrice"></el-table-column>
						<el-table-column label="最低价" prop="minPrince"></el-table-column>
						<el-table-column label="最高价" prop="maxPrince"></el-table-column>
						<el-table-column label="备注" prop="remark"></el-table-column>
						<el-table-column label="状态" prop="status">
							<template slot-scope="scope">
								<el-button-group>
									<el-switch v-model="scope.row.status" v-on:change="handleStatus(scope.$index, scope.row)"></el-switch>
								</el-button-group>
							</template>
						</el-table-column>
						<el-table-column label="是否常用" prop="isCommonUse" align="center" sortable>
							<template slot-scope="scope">
								<i :class="{'el-icon-star-on': scope.row.isCommonUse, 'el-icon-star-off': !scope.row.isCommonUse}" class="jgb-table-icon" style="color: #FFD700;" v-on:click="toggleCommonUse(scope.row)"></i>
							</template>
						</el-table-column>
					</el-table>
				</div>
			</el-main>
		</el-container>
	</el-container>
	<!-- 新增商品 -->
	<el-dialog :visible.sync="addVisible" title="新增商品">
		<el-form ref="addForm" label-position="right" label-width="100px" :model="addForm" :rules="formRules">
			<el-row>
				<el-col :span="24">
					<h3>
						基础资料
						<a class="fa fa-video-camera icon-link"></a>
					</h3>
				</el-col>
			</el-row>
			<el-row :gutter="4">
				<el-col :span="12">
					<el-form-item prop="number" label="商品编号">
						<el-input v-model="addForm.number"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item prop="name" label="商品名称">
						<el-input v-model="addForm.name"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
			<el-row :gutter="4">
				<el-col :span="12">
					<el-form-item prop="barCode" label="商品条码">
						<el-input v-model="addForm.barCode"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item prop="specifications" label="规格型号">
						<el-input v-model="addForm.specifications"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
			<el-row :gutter="4">
				<el-col :span="12">
					<el-form-item prop="commodityCategory" label="商品类别">
						<el-select v-model="addForm.commodityCategory">
							<el-option v-for="item in addFormBasicData.commodityCategory" :value="item.value" :key="item.value"></el-option>
						</el-select>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item prop="primaryRepo" label="首选仓库">
						<el-select v-model="addForm.primaryRepo">
							<el-option v-for="item in addFormBasicData.primaryRepo" :value="item.value" :key="item.value"></el-option>
						</el-select>
					</el-form-item>
				</el-col>
			</el-row>
			<el-row :gutter="4">
				<el-col :span="12">
					<el-form-item prop="commodityBrand" label="商品品牌">
						<el-input v-model="addForm.commodityBrand"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item prop="unitOfMeasurement" label="计量单位">
						<el-select v-model="addForm.unitOfMeasurement">
							<el-option v-for="item in addFormBasicData.unitOfMeasurement" :value="item.value" :key="item.value"></el-option>
						</el-select>
					</el-form-item>
				</el-col>
			</el-row>
			<el-row :gutter="4">
				<el-col :span="12">
					<el-form-item prop="multiple" label="多单位">
						<el-checkbox border v-model="addForm.multiple"></el-checkbox>
					</el-form-item>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<h3 title="各销售价格分别对应客户信息中的客户等级，如：零售价-零售客户，批发价-批发客户...开单时选择客户后再选择该商品，可自动填写相应的价格或折扣">
						价格策略
						<a class="fa fa-video-camera icon-link"></a>
					</h3>
				</el-col>
			</el-row>
			<el-row :gutter="4">
				<el-col :span="12">
					<el-form-item prop="retailPrice" label="零售价">
						<el-input v-model="addForm.retailPrice"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item prop="tradePrice" label="批发价">
						<el-input v-model="addForm.tradePrice"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
			<el-row :gutter="4">
				<el-col :span="12">
					<el-form-item prop="lowestPrince" label="最低价">
						<el-input v-model="addForm.lowestPrince"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item prop="heighestPrince" label="最高价">
						<el-input v-model="addForm.heighestPrince"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
			<el-row :gutter="4">
				<el-col :span="12">
					<el-form-item prop="discountRate1" label="折扣率一(%)">
						<el-input v-model="addForm.discountRate1"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item prop="discountRate3" label="折扣率二(%)">
						<el-input v-model="addForm.discountRate1"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
			<el-row :gutter="4">
				<el-col :span="12">
					<el-form-item prop="discountRate3" label="折扣率三(%)">
						<el-input v-model="addForm.discountRate3"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item prop="expectPurchasePrice" label="预计采购价">
						<el-input v-model="addForm.expectPurchasePrice"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<el-form-item prop="remark" label="备注">
						<el-input v-model="addForm.remark" type="textarea"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<h3>添加商品图册</h3>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<el-upload action="/common/upload_img" :file-list="addForm.upload" list-type="picture-card" :limit="20" :on-remove="handleRemove" :auto-upload="false">
						<div slot="tip" class="el-upload__tip">最多20张</div>
						<i class="el-icon-plus"></i>
					</el-upload>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<el-checkbox v-model="addForm.inventoryWarning">
						<h3>库存预警</h3>
					</el-checkbox>
					<a class="fa fa-video-camera icon-link"></a>
				</el-col>
				<el-col :span="24" v-if="addForm.inventoryWarning" style="padding: 10px;">
					<el-checkbox v-model="addForm.branchWarehouseWarning">启用分仓预警</el-checkbox>
				</el-col>
				<el-col :span="24" v-if="addForm.inventoryWarning&&!addForm.branchWarehouseWarning" style="padding: 10px;padding-top: 0;">
					<el-row :gutter="4">
						<el-form :model="addForm" label-position="top">
							<el-col :span="12">
								<el-form-item label="最低库存">
									<el-input v-model="addForm.lowestInventory"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="12">
								<el-form-item label="最高库存">
									<el-input v-model="addForm.highestInventory"></el-input>
								</el-form-item>
							</el-col>
						</el-form>
					</el-row>
				</el-col>
				<div v-if="addForm.inventoryWarning&&addForm.branchWarehouseWarning">
					<el-table :data="addForm.repo" border ref="inventoryWarningTable" v-on:row-click="addRowClick">
						<el-table-column type="index" width="50px" label="序号"></el-table-column>
						<el-table-column label="仓库" prop="label"></el-table-column>
						<el-table-column :render-header="lowestInventoryHeader" label="最低库存">
							<template slot-scope="scope">
								<div v-if="!scope.row.editFlag">{{ scope.row.lowestInventory }}</div>
								<el-input v-else v-model="scope.row.lowestInventory" v-focus="aa"></el-input>
							</template>
						</el-table-column>
						<el-table-column :render-header="highestInventoryHeader" label="最高库存">
							<template slot-scope="scope">
								<div v-if="!scope.row.editFlag">{{ scope.row.highestInventory }}</div>
								<el-input v-else v-model="scope.row.highestInventory"></el-input>
							</template>
						</el-table-column>
					</el-table>
				</div>
			</el-row>
			<el-row>
				<el-col :span="24">
					<el-checkbox v-model="addForm.setCommodityAuxiliaryAttributes">
						<h3>设置商品辅助属性</h3>
					</el-checkbox>
					<a class="fa fa-video-camera icon-link"></a>
				</el-col>
				<el-col :span="24" v-if="addForm.setCommodityAuxiliaryAttributes" style="padding: 10px;padding-top: 0;">
					<h4>辅助商品分类</h4>
						<el-checkbox-group v-model="addForm.auxiliaryAttributesClassify">
							<el-checkbox v-for="item in auxiliaryAttributesClassify" :key="item.label">{{ item.label }}</el-checkbox>
						</el-checkbox-group>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<el-checkbox v-model="addForm.batchExpirationDateManagement">
						<h3>启用批次保质期管理</h3>
					</el-checkbox>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<el-checkbox v-model="addForm.serialNumberManagement">
						<h3>启用序列号管理</h3>
					</el-checkbox>
					<a class="fa fa-video-camera icon-link"></a>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<el-checkbox v-model="addForm.initSet">
						<h3>期初设置</h3>
					</el-checkbox>
				</el-col>
			</el-row>
		</el-form>
	</el-dialog>
	<transition name="slide-fade">
		<div class="details-wrap" v-show="isUnfold">
			<div class="details-inner" v-loading="loadingDetailInfo">
				<el-row class="row-border">
					<div class="title text-center">
						<h3>商品信息详情页</h3>
					</div>
					<el-col v-for="item in commodityInfo" :span="item.oneRow ? 24 : 12" class="text-center" :key="item.name">
						<div>{{ item.name }}</div>
						<div v-if="item.isImages" v-on:click="viewImage(item)"><i class="el-icon-picture"></i></div>
						<div v-else>{{ item.value }}</div>
					</el-col>
				</el-row>
				<div class="toggle-button-wrap" v-on:click="toggleInfo">
					<span class="jgbvue_arrow_icon" style="background: transparent url(../../assets/img/common/ats-icon_5.png) no-repeat scroll -9px -85px;position: absolute;top: 50%;right: 0;transform: translateY(-50%);"></span>
					<span class="jgbvue_arrow_line" style="background: transparent url(../../assets/img/common/ats-icon_5.png) no-repeat scroll -123px -2px;margin-left: 16px;"></span>
				</div>
			</div>
		</div>
	</transition>
	<transition name="fade">
		<div class="slideshow-wrap" v-if="showSlideshow">
			<div class="slideshow-mask" v-on:click="showSlideshow = false"></div>
			<div class="slideshow-inner">
				<div class="slideshow-inner-nav">
					<a class="index-text">{{ currentImgIndex+1 + '/' +  slideshowArr.length}}</a>
					<i class="el-icon-close" v-on:click="showSlideshow = false"></i>
				</div>
				<div class="slideshow-inner-wrap" :style="{width: currentImgWidth + 'px', height: currentImgHeight + 'px'}">
					<!-- <img v-for="(item, index) in slideshowArr" :src="item.src" :style="{width:item.width+'px',height:item.height+'px', display: currentImgIndex === index ? 'block' : 'none'}"></img> -->
					<img :src="currentImgSrc" :style="{width:currentImgWidth+'px',height:currentImgHeight+'px'}"/>
					<i class="el-icon-arrow-right arrow-right arrow"  v-on:click="nextImg"></i>
					<i class="el-icon-arrow-left arrow-left arrow" v-on:click="prevImg"></i>
				</div>
			</div>
		</div>
	</transition>
</div>
</body>
<script type="text/javascript" src="../../vue/vue.js"></script>
<script type="text/javascript" src="../../axios/axios.min.js"></script>
<script type="text/javascript" src="../../element-ui-2.0.11/lib/index.js"></script>
<script type="text/javascript" src="../../assets/js/common.js"></script>
<script type="text/javascript" src="../../assets/js/views/commodityManagement/commodityInfo.js"></script>
<script type="text/javascript">
	/**
	 * 查询接口
	 * 获取快速查询选项接口
	 * 
	 */
	JGBVue.module.commodityInfo().init('/commodityInfo/search', '/commodityInfo/getQuickQuery', '/commodityInfo/getAuxiliaryAttributesClassify', '/common/getRepo', '/common/switch', '/common/data_delete', '/commodityInfo/examine', '/common/get_provinces', '/common/get_cities', '/common/get_district', '/common/get_block', '/common/getCompany', '/common/getDepartment', '/roleManagement/department_member_get', '/common/data_add_save', '/clientInfo/edit_data_get', '/common/data_edit_save', '/common/upload_info', '/clientInfo/exportForm', '/commodityInfo/toggleCommonUse', '/common/slideshow');
</script>
</html>