<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>维修报告信息</title>
	<link rel="stylesheet" href="../../element-ui-2.0.11/lib/theme-chalk/index.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/common/common.css">
</head>

<body>
	<div id="app" v-cloak class="workOrderManagement">
		<el-container>
			<el-main>
        <div class="jgb-wrap">
          <div style="margin:10px;">
            <el-button v-if="showDeliveryButton" type="primary" size="mini" v-on:click="btnDelivery">交付</el-button>
          </div>
          <div class="w-main-table">
            <div class="w-main-title">
              <span>工单号：{{c_orderId}}</span>
              <el-button-group>
                <el-button type="primary" size="mini" v-on:click="btnAdd('新增维修报告')">新增</el-button>
                <el-button type="primary" size="mini" v-on:click="btnExport">导出</el-button>
                <el-button type="primary" size="mini" 
                  :disabled="selectedRows.length != 1"
                  v-on:click="btnPrint">
                  打印
              </el-button>
                <el-button type="primary" size="mini" 
                  :disabled="selectedRows.length != 1 || (selectedRows[0] && selectedRows[0].status == '作废')"
                  v-on:click="btnInvalid">
                  作废
                </el-button>
              </el-button-group>
            </div>
            <el-table ref="reportTable"
              border highlight-current-row
              :data="orderList"
              v-on:selection-change="handleOrderSelectionChange">
              <el-table-column type="selection" align="center" width="40" key="selection"></el-table-column>
              <el-table-column align="center" label="操作">
                <template slot-scope="scope">
                  <div class="order-button">
                    <el-button size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button size="mini" v-if="scope.row.status == '暂存'" v-on:click="btnAdd('修改维修报告')">修改</el-button>
                    <!-- <el-button size="mini" v-on:click="">上传报告扫描件</el-button> -->
                    <el-upload class="upload-demo"
                      :show-file-list="false"
                      :action="uploadReportUrl"
                      :on-success="handleUploadReportSuccess"
                      :on-error="handleUploadReportError">
                      <el-button size="mini" type="">上传报告扫描件</el-button>
                    </el-upload>
                  </div>
                </template>
              </el-table-column>
              <el-table-column type="index" label="序号" width="50" align="center"></el-table-column>
              <el-table-column align="center" width="120px" label="标题"
                key="title" prop="title">
              </el-table-column>
              <el-table-column align="center" width="120px" label="工单编号"
                key="order_id" prop="order_id">
              </el-table-column>
              <el-table-column align="center" width="120px" label="报告日期"
                key="date" prop="date">
              </el-table-column>
              <el-table-column align="center" width="120px" label="客户名称"
                key="clientName" prop="clientName">
              </el-table-column>
              <el-table-column align="center" label="设备名称"
                key="equipmentName" prop="equipmentName">
              </el-table-column>
              <el-table-column align="center" width="120px" label="报告扫描件"
                key="file" prop="file">
                <template slot-scope="scope">
                  <a v-if="scope.row.file" class="el-icon-document table-img-icon"
                    :href="scope.row.file" download>
                  </a>
                </template>
              </el-table-column>
              <el-table-column align="center" width="120px" label="状态"
                key="status" prop="status">
              </el-table-column>
            </el-table>
          </div>
        </div>
      </el-main>
      <!-- 查看维修报告 -->
      <transition name="slide-fade">
        <jgb-slide-details v-show="showReport" v-on:close="showReport = false" class="for-html-import">
          <object :data="reportDetailsUrl" 
            width="100%" type="text/html">
            您的浏览器不支持object标签
          </object>
        </jgb-slide-details>
      </transition>
      <!-- 新增维修报告 -->
      <el-dialog :visible.sync="showReportAddForm">
        <div class="title" slot="title">{{reportTitle}}</div>
        <el-form ref="reportAddForm" label-width="100px" class="w-common-form"
          :model="reportAddForm" :rules="reportAddFormRules">
          <el-form-item label="标题：" prop="title">
            <el-input v-model="reportAddForm.title"></el-input>
          </el-form-item>
          <el-row :gutter="5">
            <el-col :span="12">
              <el-form-item label="工单编号：" prop="order_id">
                <el-input v-model="reportAddForm.order_id" readonly></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="编写日期：" prop="date">
                <el-input v-model="reportAddForm.date" readonly></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="基本信息："></el-form-item>
          <el-row :gutter="5">
            <el-col :span="8">
              <el-form-item label="工单日期：" prop="order_date">
                <el-input v-model="reportAddForm.order_date" readonly></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="客户名称：" prop="client_name">
                <el-input v-model="reportAddForm.client_name" readonly></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="维修公司：" prop="maintenance_company">
                <el-input v-model="reportAddForm.maintenance_company" readonly></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="5">
            <el-col :span="8">
              <el-form-item label="设备名称：" prop="equipment_name">
                <el-input v-model="reportAddForm.equipment_name" readonly></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="设备类别：" prop="equipment_category">
                <el-input v-model="reportAddForm.equipment_category" readonly></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="设备品牌：" prop="equipment_brand">
                <el-input v-model="reportAddForm.equipment_brand" readonly></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="5">
            <el-col :span="8">
              <el-form-item label="设备来源：" prop="equipment_source">
                <el-input v-model="reportAddForm.equipment_source" readonly></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="报修方式：" prop="equipment_method">
                <el-input v-model="reportAddForm.equipment_method" readonly></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="紧急程度：" prop="level">
                <el-input v-model="reportAddForm.level" readonly></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="5">
            <el-col :span="8">
              <el-form-item label="维修人员：" prop="maintenance_person">
                <el-input v-model="reportAddForm.maintenance_person" readonly></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="联系方式：" prop="maintenance_phone">
                <el-input v-model="reportAddForm.maintenance_phone" readonly></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="完成时间：" prop="fin">
                <el-input v-model="reportAddForm.order_fin" readonly></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="维修信息："></el-form-item>
          <el-form-item label="故障描述：" prop="fault_info">
            <el-input type="textarea" :autosize="{minRows: 4, maxRows: 4}"
              v-model="reportAddForm.fault_info">
            </el-input>
          </el-form-item>
          <el-form-item label="故障原因：" prop="fault_reason">
            <el-input type="textarea" :autosize="{minRows: 4, maxRows: 4}"
              v-model="reportAddForm.fault_reason">
            </el-input>
          </el-form-item>
          <el-form-item label="维修措施：" prop="maintenance_way">
            <el-input type="textarea" :autosize="{minRows: 4, maxRows: 4}"
              v-model="reportAddForm.maintenance_way">
            </el-input>
          </el-form-item>
          <el-form-item label="完成情况：" prop="maintenance_fin">
            <el-input type="textarea" :autosize="{minRows: 4, maxRows: 4}"
              v-model="reportAddForm.maintenance_fin">
            </el-input>
          </el-form-item>
          <el-form-item label="维修费用："></el-form-item>
          <el-row :gutter="5">
            <el-col :span="8">
              <el-form-item label="人工维修费用：" prop="rengong" label-width="120px">
                <el-input v-model="reportAddForm.rengong"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="配件费用：" prop="peijian">
                <el-input v-model="reportAddForm.peijian" ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="配送费用：" prop="peisong">
                <el-input v-model="reportAddForm.peisong"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="5">
            <el-col :span="8">
              <el-form-item label="安装费用：" prop="anzhuang">
                <el-input v-model="reportAddForm.anzhuang"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="其他费用：" prop="qita">
                <el-input v-model="reportAddForm.qita"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="合计（元）" prop="total_price">
            <el-input v-model="reportAddForm.total_price" readonly></el-input>
          </el-form-item>
          <el-form-item label="备注：" prop="remark">
            <el-input type="textarea" :autosize="{minRows: 4, maxRows: 4}" v-model="reportAddForm.remark"></el-input>
          </el-form-item>
          <el-form-item label="客户意见："></el-form-item>
            <el-form-item label="客户意见：" prop="opinion">
              <el-input type="textarea" :autosize="{minRows: 4, maxRows: 4}" v-model="reportAddForm.opinion"></el-input>
            </el-form-item>
            <el-row :gutter="5">
              <el-col :span="12">
                <el-form-item label="客户签字：" prop="sign">
                  <el-input v-model="reportAddForm.sign" readonly></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="签字日期：" prop="sign_date">
                  <el-input v-model="reportAddForm.sign_date" readonly></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form-item>
        </el-form>
        <div class="diagnosis-form-footer">
          <el-button type="primary"
            :loading="loadingReportTempStorage"
            :disabled="loadingReportTempStorage"
            v-on:click="btnReportTempStorage('temp')">暂存</el-button>
          <div>
              <el-button type="primary"
                :loading="loadingReportTempStorage"
                :disabled="loadingReportTempStorage"
                v-on:click="btnReportTempStorage('submit')">确认</el-button>
            <el-button v-on:click="btnReportTempStorage = false">取消</el-button>
          </div>
        </div>
      </el-dialog>
      <!-- 导出 -->
      <el-dialog :visible.sync="showExport" width="600px">
        <div class="title" slot="title">导出</div>
        <el-alert title="注：请选择需要导出的字段。" style="margin-bottom:10px;"
          type="warning" :closable="false">
        </el-alert>
        <el-checkbox-group v-model="exportChecked" class="w-export">
          <el-checkbox v-if="item.prop != 'action'"
            v-for="item in tableHeader" border checked
            :key="item.label" :label="item.prop" >
            {{item.label}}
          </el-checkbox>
        </el-checkbox-group>
        <jgb-form-footer slot="footer"
          save-text="导出" close-text="关闭"
          :loading="isLoadingExportRequest"
          v-on:save="btnExportSave" v-on:close="btnExportClose">
        </jgb-form-footer>
      </el-dialog>
		</el-container>
	</div>
</body>
<script type="text/javascript" src="../../vue/vue.js"></script>
<script type="text/javascript" src="../../axios/axios.min.js"></script>
<script type="text/javascript" src="../../element-ui-2.0.11/lib/index.js"></script>
<script type="text/javascript" src="../../assets/js/common.js"></script>
<script type="text/javascript" src="../../assets/js/views/maintenanceManagement/maintenanceReport.js"></script>
<script type="text/javascript">
	JGBVue.module.maintenanceReport().init(
    '/maintenanceManagement/get_maintenace_report', //获取维修报告数据
    '/common/data_add_save', //交付工单接口
    '/maintenanceManagement/is_report_exist', //工单是否已有维修报告
    '/common/data_add_save', //暂存、确认新增维修报告
    '/common/data_add_save', //作废
    '/common/data_add_save', //导出申请地址
    '/common/data_add_save' //上传维修报告扫描件
  );
</script>

</html>