<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>工单管理</title>
	<link rel="stylesheet" href="../../element-ui-2.0.11/lib/theme-chalk/index.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/common/common.css">
</head>

<body>
	<div id="app" v-cloak class="workOrderManagement">
		<el-container>
			<el-main>
				<div class="jgb-wrap">
          <div class="w-main-header">
            <el-form inline label-width="80px" :model="selectForm">
              <el-form-item label="日期:">
                <el-date-picker
                  v-model="selectForm.dateRange"
                  format="yyyy-MM-dd"
                  type="datetimerange"
                  range-separator="至"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期"
                  :default-time="formTimeRangeDefault">
                </el-date-picker>
              </el-form-item>
              <el-form-item label="业务人员:">
                <el-select v-model="selectForm.businessCurrent" filterable placeholder="请选择">
                  <el-option
                    v-for="item in formBusinessList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="维修人员:">
                <el-select v-model="selectForm.maintenanceCurrent" filterable placeholder="请选择">
                  <el-option
                    v-for="item in formMaintenanceList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
              </el-form-item>
              <el-form-item>
                <el-input v-model="selectForm.keyword" placeholder="工单编号、客户名称、设备名称、维修日志" style="width:300px;">
                  <template slot="append">
                    <el-button v-on:click="search">查询</el-button>
                  </template>
                </el-input>
              </el-form-item>
              <el-form-item label="工单状态:" class="order-status">
                <el-checkbox v-model="formStatusCheckAll" style="margin-right:0;"
                  @change="handleFormCheckAllChange">
                  全选
                </el-checkbox>
                <el-checkbox-group v-model="selectForm.checkedStatus" @change="handleFormCheckStatusChange">
                  <el-checkbox v-for="item in formOrderStatus" :label="item" :key="item.value">{{item.label}}</el-checkbox>
                </el-checkbox-group>
                <el-button-group>
                  <el-button type="primary" size="mini">列设置</el-button>
                  <el-button type="primary" size="mini">新增</el-button>
                  <el-button type="primary" size="mini">导出</el-button>
                  <el-button type="primary" size="mini">打印</el-button>
                  <el-button type="primary" size="mini"
                    :disabled="selectedRows.length == 0"
                    v-on:click="btnInvalid">
                    作废
                  </el-button>
                </el-button-group>
              </el-form-item>
            </el-form>
          </div>
          <div class="w-main-table">
            <el-table border highlight-current-row style="width: 100%"
              :default-sort = "selectForm.sort"
              :data="orderList"
              v-on:sort-change="handleOrderSort"
              v-on:selection-change="handleOrderSelectionChange">
							<el-table-column type="selection" align="center" width="40"></el-table-column>
							<el-table-column type="index" label="序号" width="50" align="center"></el-table-column>
              <el-table-column v-for="item in tableHeader"
                align="center"
                :sortable="item.sortable"
                :width="item.width"
                :key="item.prop"
                :prop="item.prop"
                :label="item.label">
								<template v-if="item.prop == 'action'" slot-scope="scope">
                  <!-- 委派 -->
                  <div v-if="scope.row.status_value == 0" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="btnReceive(scope.row, scope.$index)">领取</el-button>
                    <el-button type="" size="mini" v-on:click="btnBack(scope.row, scope.$index)">退回</el-button>
                    <el-button type="" size="mini" v-on:click="btnWithdraw(scope.row, scope.$index)">撤回</el-button>
                  </div>
                  <!-- 待接 -->
                  <div v-else-if="scope.row.status_value == 1" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="btnReceive(scope.row, scope.$index)">领取</el-button>
                    <el-button type="" size="mini" v-on:click="btnWithdraw(scope.row, scope.$index)">撤回</el-button>
                  </div>
                  <!-- 待诊断 -->
                  <div v-else-if="scope.row.status_value == 2" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="">设备定位</el-button>
                    <el-button type="" size="mini" v-on:click="">故障诊断</el-button>
                  </div>
                  <!-- 诊断中 -->
                  <div v-else-if="scope.row.status_value == 3" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="">设备定位</el-button>
                    <el-button type="" size="mini" v-on:click="">故障诊断</el-button>
                  </div>
                  <!-- 待报价 -->
                  <div v-else-if="scope.row.status_value == 4" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="">维修报价</el-button>
                  </div>
                  <!-- 报价中 -->
                  <div v-else-if="scope.row.status_value == 5" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="">维修报价</el-button>
                    <el-button type="" size="mini" v-on:click="">维修合同</el-button>
                  </div>
                  <!-- 待维修 -->
                  <div v-else-if="scope.row.status_value == 6" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="">设备定位</el-button>
                    <el-button type="" size="mini" v-on:click="">开始维修</el-button>
                    <el-button type="" size="mini" v-on:click="">开票申请</el-button>
                  </div>
                  <!-- 维修中 -->
                  <div v-else-if="scope.row.status_value == 7" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="">测试报告</el-button>
                    <el-button type="" size="mini" v-on:click="">换人修</el-button>
                    <el-button type="" size="mini" v-on:click="">送外修</el-button>
                    <el-button type="" size="mini" v-on:click="">再次诊断</el-button>
                    <el-button type="" size="mini" v-on:click="">开票申请</el-button>
                  </div>
                  <!-- 完成维修 -->
                  <div v-else-if="scope.row.status_value == 8" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="">维修报告</el-button>
                    <el-button type="" size="mini" v-on:click="">最终成本</el-button>
                    <el-button type="" size="mini" v-on:click="">开票申请</el-button>
                  </div>
                  <!-- 待交付 -->
                  <div v-else-if="scope.row.status_value == 9" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="">交付单</el-button>
                  </div>
                  <!-- 交付中 -->
                  <div v-else-if="scope.row.status_value == 10" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="">交付单</el-button>
                    <el-button type="" size="mini" v-on:click="">快递单</el-button>
                    <el-button type="" size="mini" v-on:click="">开票申请</el-button>
                  </div>
                  <!-- 已交付 -->
                  <div v-else-if="scope.row.status_value == 11" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="">客户回访</el-button>
                  </div>
                  <!-- 作废 -->
                  <div v-else-if="scope.row.status_value == 12" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                  </div>
                  <!-- 撤回、退回 -->
                  <div v-else-if="scope.row.status_value == 13" class="order-button">
                    <el-button type="" size="mini" v-on:click="btnView(scope.row, scope.$index)">查看</el-button>
                    <el-button type="" size="mini" v-on:click="">修改</el-button>
                  </div>
								</template>
              </el-table-column>
            </el-table>
            <el-pagination v-if="orderPage.page_total > 1" class="w-table-pagination"
              layout="prev, pager, total, next, jumper"
              prev-text="上一页" next-text="下一页"
              :current-page="orderPage.page_current"
              :page-size="orderPage.page_size"
              :total="orderPage.page_total"
              v-on:current-change="handleOrderCurrentChange">
          </el-pagination>
          </div>
				</div>
			</el-main>
		</el-container>
	</div>
</body>
<script type="text/javascript" src="../../vue/vue.js"></script>
<script type="text/javascript" src="../../axios/axios.min.js"></script>
<script type="text/javascript" src="../../element-ui-2.0.11/lib/index.js"></script>
<script type="text/javascript" src="../../assets/js/common.js"></script>
<script type="text/javascript" src="../../assets/js/views/workOrderManagement/orderManagement.js"></script>
<script type="text/javascript">
	JGBVue.module.workOrderManagement().init(
    '/orderManagement/get_business_data', //获取业务人员数据
    '/orderManagement/get_maintenance_data', //获取维修人员数据
    '/orderManagement/get_work_order_data', //获取工单数据
    '/orderManagement/order_receive', //领取工单
    '/orderManagement/order_back', //退回工单
    '/orderManagement/order_withdraw', //撤回工单
    '/orderManagement/order_invalid', //作废工单
	);
</script>

</html>