<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>审核流程</title>
    <link rel="stylesheet" type="text/css" href="../../font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../../element-ui-2.0.11/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/common/common.css">
</head>
<body>
	<div id="app" v-cloak>
		<div class="wrap_main">
			<div class="inner_main">
				<el-table :data="data.table" border v-on:row-click="rowClick" v-on:select="selectItem" ref="auditTable" highlight-current-row>
					<el-table-column type="index" label="序号" width="50"></el-table-column>
					<el-table-column label="操作">
						<template slot-scope="scope">
							<el-button-group>
								<el-button size="mini" v-on:click="handleEdit(scope.$index, scope.row)">编辑</el-button>
								<el-button size="mini" type="primary" v-on:click="handleExamine(scope.$index, scope.row)">查看</el-button>
							</el-button-group>
						</template>
					</el-table-column>
					<el-table-column label="系统模块" prop="sysModule"></el-table-column>
					<el-table-column label="流程级数" prop="processRank"></el-table-column>
					<el-table-column label="审核人员" prop="auditor">
						<template slot-scope="scope">
							{{ scope.row.auditor | auditorFilter }}
						</template>
					</el-table-column>
					<el-table-column label="提醒方式" prop="remarkWay">
						<template slot-scope="scope">
							{{ scope.row.remarkWay | auditorFilter }}
						</template>
					</el-table-column>
					<el-table-column label="启用" prop="startUsing">
						<template slot-scope="scope">
							<el-switch v-model="scope.row.startUsing" v-on:change="handleStartUsing(scope.$index, scope.row)"></el-switch>
						</template>
					</el-table-column>
				</el-table>
			</div>
		</div>
		<div class="wrap_footer">
			<el-pagination class="pull-right" v-on:size-change="handleSizeChange" v-on:current-change="handleCurrentChange" :current-page="data.pageIndex" :page-sizes="[100, 200, 300, 400]" :page-size="data.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="data.total"></el-pagination>
		</div>
		<!-- 编辑审核流程窗口 -->
		<el-dialog :visible.sync="dialogEditFormVisible">
			<div slot="title" class="title">
				新增审核流程
			</div>
			<el-form :model="editForm" :rules="rules" ref="editForm">
				<div class="title text-center">
					<h4>
						{{ editForm.title }}
					</h4>
				</div>
				<div style="padding: 10px 0;">
					<label class="red">
						<el-checkbox name="type" class="checkbox" v-model="editForm.bossAudit.status"></el-checkbox>
						<b>
							{{ editForm.bossAudit.describe }}
						</b>
					</label>
				</div>
				<h3>
					①流程级数
				</h3>
				<el-form-item label="选择流程级数" prop="levelSelected">
					<el-select v-on:change="changeLevel" v-model="editForm.levelSelected">
						<el-option v-for="option in data.processLevelOptions" :label="option.label" :value="option.value" :key="option.value"></el-option>
					</el-select>
				</el-form-item>
				<h3>
					②审核人员
				</h3>
				<el-form-item v-if="editForm.levelSelected > 0" prop="firstLevelAuditorsGroup" label="选择一级审核人员">
					<el-button icon="el-icon-plus" size="mini" v-on:click="selectFirstAuditDialog(editForm)"></el-button>
					<div style="padding: 4px;border-radius: 4px;border: 1px solid rgba(64,158,255,.2)" v-show="editForm.firstLevelAuditorsGroup.length !== 0">
						<el-tag v-for="tag in editForm.firstLevelAuditorsGroup" :key="tag.jobNumber" :type="tag.type" closable v-on:close="closeFirstLevelTag(tag)">{{tag.name}}</el-tag>
					</div>
				</el-form-item>
				<el-form-item v-if="editForm.levelSelected == 2" prop="secondLevelAuditorsGroup" label="选择二级审核人员">
					<el-button icon="el-icon-plus" size="mini" v-on:click="selectSecondAuditDialog(editForm)"></el-button>
					<div style="padding: 4px;border-radius: 4px;border: 1px solid rgba(64,158,255,.2)" v-show="editForm.secondLevelAuditorsGroup.length !== 0">
						<el-tag v-for="tag in editForm.secondLevelAuditorsGroup" :key="tag.jobNumber" :type="tag.type" closable v-on:close="closeSecondLevelTag(tag)">{{tag.name}}</el-tag>
					</div>
				</el-form-item>
				<!-- 当选择1级审核方式时，审核人员没有老板时显示老板选项 -->
				<el-form-item v-if="editForm.bossAudit.status&&editForm.levelSelected == '1'&&!firstLeveAuditHasBoss&&editForm.firstLevelAuditorsGroup.length != 0" prop="bosses">
					<label>选择老板</label>
					<el-select multiple placeholder="请选择" v-model="editForm.bosses" width="100%">
						<el-option v-for="item in data.bosses" :key="item.value" :label="item.name" :value="item.value"></el-option>
					</el-select>
				</el-form-item>
				<!-- 当选择2级审核方式时，审核人员没有老板时显示老板选项 -->
				<el-form-item v-if="editForm.bossAudit.status&&editForm.levelSelected == '2'&&!firstLeveAuditHasBoss&&!secondLeveAuditHasBoss&&editForm.firstLevelAuditorsGroup.length != 0&&editForm.secondLevelAuditorsGroup.length != 0" prop="bosses" label="选择老板">
					<el-select multiple placeholder="请选择" v-model="editForm.bosses" width="100%" multiple>
						<el-option v-for="item in data.bosses" :key="item.jobNumber" :label="item.name" :value="item.value"></el-option>
					</el-select>
				</el-form-item>
				<h3>
					③多人审核方式
				</h3>
				<el-form-item prop="auditMethod">
					<el-radio v-model="editForm.auditMethod" label="1">只要有一个通过审核即可向下流转</el-radio>
					<el-radio v-model="editForm.auditMethod" label="2">只有全部人员通过审核才可向下流转</el-radio>
				</el-form-item>
				<h3>
					④提醒方式
				</h3>
				<el-form-item>
					<el-checkbox-group v-model="editForm.remainWays" prop="remainWays">
						<el-checkbox label="站内信息" name="type" disabled></el-checkbox>
						<el-checkbox label="手机信息" name="type"></el-checkbox>
						<el-checkbox label="邮件信息" name="type"></el-checkbox>
					</el-checkbox-group>
				</el-form-item>
			</el-form>
			<div slot="footer">
				<el-button type="primary" v-on:click="saveEdit('editForm')">保存</el-button>
				<el-button v-on:click="dialogEditFormVisible = false">关闭</el-button>
			</div>
		</el-dialog>
		<!-- 编辑-选择一级审核人员窗口 -->
		<el-dialog :visible.sync="dialogSelectFirstAuditVisible" width="900px">
			<div slot="title">
				选择一级审核人员
			</div>
			<nav>
				<el-form :inline="true">
					<el-form-item>
						<el-select placeholder="请选择公司" v-model="firstAudit.company" v-on:change="firstChangeCompany">
							<el-option v-for="item in firstAudit.companyList" :key="item.uid" :value="item.value" :label="item.name"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item>
						<el-input v-model="firstAudit.searchValue" placeholder="请输入关键词查询">
							<template slot="append">
								<el-button v-on:click="searchFirstEmployee">搜索</el-button>
							</template>
						</el-input>
					</el-form-item>
					<el-button v-on:click="showFirstSelectedAuditors = !showFirstSelectedAuditors" class="pull-right">
						已选择人员
						<i :class="{'el-icon-caret-left':showFirstSelectedAuditors, 'el-icon-caret-right':!showFirstSelectedAuditors}"></i>
					</el-button>
				</el-form>
			</nav>
			<el-container class="auditMainWrap">
				<el-aside width="217px" class="jgb-wrap" v-show="firstAudit.departmentList.length !== 0">
					<ul class="ul-list">
						<li v-for="(item, index) in firstAudit.departmentList" :key="item.value" :value="item.value" v-on:click="firstSelectDepartment(item, index)" :class="{active: index === firstAudit.activeIndex}">
							<a href="javascript:;">
								{{item.name}}
							</a>
						</li>
					</ul>
				</el-aside>
				<el-main>
					<div class="auditorsWrap">
						<div v-for="(item, index) in firstAudit.auditorList" class="auditor" v-on:click ="firstToggleSelected(item,index)">
							<i class="el-icon-check selectStatus" v-if="item.isSelected"></i>
							<div class="auditorInner" :class="{activeSelected: item.isSelected}">
								<div class="auditorPicWrap">
									<img :src="item.src">
								</div>
								<div class="auditorInfo">
									<div>
										<span class="leftSpan">工号：</span>
										<a class="auditText">{{ item.jobNumber }}</a>
									</div>
									<div>
										<span class="leftSpan">姓名：</span>
										<a class="auditText">{{ item.name }}</a>
									</div>
									<div>
										<span class="leftSpan">
											部门：
										</span>
										<a class="auditText">{{ item.departmentName }}</a>
									</div>
								</div>
								<div style="clear: both;"></div>
							</div>
						</div>
						<transition name="slide-fade">
							<ul class="right-side" v-if="firstAudit.auditorList.length !== 0&&showFirstSelectedAuditors">
								<li v-for="item in tempFirstLevelAuditorsGroup">
									<div>
										{{ item.companyName }}
									</div>
									<div>
										<span>{{ item.departmentName }}</span>
										<i>【</i>
										<span>{{ item.name }}</span>
										<i>】</i>
									</div>
									<el-button icon="el-icon-close" type="danger" circle class="close"></el-button>
								</li>
							</ul>
						</transition>
					</div>
				</el-main>
			</el-container>
			<div slot="footer">
				<el-button type="primary" v-on:click="confirmSelectFirstAuditors">确认</el-button>
				<el-button v-on:click="dialogSelectFirstAuditVisible = false">关闭</el-button>
			</div>
		</el-dialog>
		<!-- 编辑-选择二级审核人员窗口 -->
		<el-dialog :visible.sync="dialogSelectSecondAuditVisible" width="900px">
			<div slot="title">
				选择二级审核人员
			</div>
			<nav>
				<el-form :inline="true">
					<el-form-item>
						<el-select placeholder="请选择公司" v-model="secondAudit.company" v-on:change="secondChangeCompany">
							<el-option v-for="item in secondAudit.companyList" :key="item.uid" :value="item.value" :label="item.name"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item>
						<el-input v-model="secondAudit.searchValue" placeholder="请输入关键词查询">
							<template slot="append">
								<el-button v-on:click="searchSecondEmployee">搜索</el-button>
							</template>
						</el-input>
					</el-form-item>
					<el-button v-on:click="showSecondSelectedAuditors = !showSecondSelectedAuditors" class="pull-right">
						已选择人员
					</el-button>
				</el-form>
			</nav>
			<el-container class="auditMainWrap">
				<el-aside width="217px" v-show="secondAudit.departmentList.length !== 0" class="jgb-wrap">
					<ul class="ul-list">
						<li v-for="(item, index) in secondAudit.departmentList" :key="item.value" :value="item.value" v-on:click="secondSelectDepartment(item, index)" :class="{active: index === secondAudit.activeIndex}">
							<a href="javascript:;">
								{{item.name}}
							</a>
						</li>
					</ul>
				</el-aside>
				<el-main>
					<div class="auditorsWrap">
						<div v-for="(item, index) in secondAudit.auditorList" class="auditor" v-on:click ="secondToggleSelected(item,index)">
							<i class="el-icon-check selectStatus" v-if="item.isSelected"></i>
							<div class="auditorInner" :class="{activeSelected: item.isSelected}">
								<div class="auditorPicWrap">
									<img :src="item.src">
								</div>
								<div class="auditorInfo">
									<div>
										<span class="leftSpan">工号：</span>
										<a class="auditText">{{ item.jobNumber }}</a>
									</div>
									<div>
										<span class="leftSpan">姓名：</span>
										<a class="auditText">{{ item.name }}</a>
									</div>
									<div>
										<span class="leftSpan">
											部门：
										</span>
										<a class="auditText">{{ item.department.name }}</a>
									</div>
								</div>
								<div style="clear: both;"></div>
							</div>
						</div>
						<transition name="slide-fade">
							<ul class="right-side" v-if="secondAudit.auditorList.length !== 0&&showSecondSelectedAuditors">
								<li v-for="item in tempSecondLevelAuditorsGroup">
									{{item.name}}
								</li>
							</ul>
						</transition>
					</div>
				</el-main>
			</el-container>
			<div slot="footer">
				<el-button type="primary" v-on:click="confirmSelectSecondAuditors">确认</el-button>
				<el-button v-on:click="dialogSelectSecondAuditVisible = false">关闭</el-button>
			</div>
		</el-dialog>
		<!-- 查看窗口 -->
		<el-dialog :visible.sync="exmaineDialogVisiable">
			<div slot="title" class="title">
				查看审核流程
			</div>
			<div class="form-border">
				<div class="text-center title">
					<h3>
						{{ examineForm.title }}
					</h3>
				</div>
				<div v-if="examineForm.bossAudit.status">
					{{ examineForm.bossAudit.describe }}
				</div>
				<div>
					<span>流程级数</span>
					<span>
						{{ examineForm.processLevel }}
					</span>
				</div>
				<div class="title">
					<h5>
						审核人员
					</h5>
				</div>
				<div>
					<span>
						一级审核人员
					</span>
					<span>
						{{ examineForm.auditors.firstLevel | auditorFilter }}
					</span>
				</div>
				<div>
					<span>
						二级审核人员
					</span>
					<span>
						{{ examineForm.auditors.secondLevel | auditorFilter }}
					</span>
				</div>
				<div class="title">
					<h5>
						多人审核方式
					</h5>
				</div>
				<div>
					{{ examineForm.auditMethod }}
				</div>
				<div class="title">
					<h5>
						提醒方式
					</h5>
				</div>
				<div>
					{{ examineForm.remainWays | auditorFilter }}
				</div>
			</div>
		</el-dialog>
	</div>
</body>
<script type="text/javascript" src="../../vue/vue.js"></script>
<script type="text/javascript" src="../../element-ui-2.0.11/lib/index.js"></script>
<script type="text/javascript" src="../../axios/axios.min.js"></script>
<script type="text/javascript" src="../../assets/js/views/systemSettings/auditProcess.js"></script>
<script type="text/javascript">
	/**
	 * 数据获取url
	 * 打开编辑窗口获取url
	 * 保存编辑数据url
	 * 查看
	 * 启用
	 * 获取员工
	 */
	JGBVue.module.auditProcess().init('/auditProcess/data_get', '/auditProcess/data_edit_get', '/auditProcess/data_edit_save', '/auditProcess/data_examine', '/common/switch', '/auditProcess/searchEmployee', '/common/getEmployee');
</script>
</html>