<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>审核流程</title>
    <link rel="stylesheet" type="text/css" href="../../font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../../element-ui-2.0.11/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/common/common.css">
</head>
<body>
	<div id="app" v-cloak>
		<div class="wrap_main">
			<nav>
				<el-button-group class="pull-right">
					<el-button type="primary" v-on:click="add" icon="el-icon-plus">新增</el-button>
					<el-button type="primary" v-on:click="edit" icon="el-icon-edit" :disabled="selectedRows.length != 1">修改</el-button>
					<el-button type="primary" v-on:click="remove" icon="el-icon-delete" :disabled="selectedRows.length == 0">删除</el-button>
				</el-button-group>
			</nav>
			<div class="inner_main">
				<el-table :data="data.table" border v-on:row-click="rowClick" ref="auditTable">
					<el-table-column type="selection"></el-table-column>
					<el-table-column type="index" label="序号" width="50"></el-table-column>
					<el-table-column label="系统模块" prop="sysModule"></el-table-column>
					<el-table-column label="流程级数" prop="processRank"></el-table-column>
					<el-table-column label="审核人员" prop="auditor">
						<template slot-scope="scope">
							{{ scope.row.auditor | auditorFilter }}
						</template>
					</el-table-column>
					<el-table-column label="提醒方式" prop="remarkWay">
						<template slot-scope="scope">
							{{ scope.row.remarkWay | auditorFilter }}
						</template>
					</el-table-column>
					<!-- <el-table-column style="pointer-events: none;"></el-table-column> -->
				</el-table>
			</div>
		</div>
		<div class="wrap_footer">
			<el-pagination class="pull-right" v-on:size-change="handleSizeChange" v-on:current-change="handleCurrentChange" :current-page="data.pageIndex" :page-sizes="[100, 200, 300, 400]" :page-size="data.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="data.total"></el-pagination>
		</div>
		<!-- 新增窗口 -->
		<el-dialog :visible.sync="dialogAddFormVisible">
			<div slot="title" class="title">
				新增审核流程
			</div>
			<el-form :model="addForm" :rules="rules" ref="addForm">
				<h3>
					①系统模块
				</h3>
				<el-form-item label="选择系统模块" prop="selectSysModule">
					<el-select v-model="addForm.selectSysModule" v-on:change="changeModule">
						<el-option v-for="option in data.sysModuleOptions" :label="option.label" :value="option.value" :key="option.value"></el-option>
					</el-select>
					<label class="red" v-if="addForm.selectSysModule == '选项1'">
						<el-checkbox name="type" class="checkbox" v-model="addForm.saleBossAudit"></el-checkbox>
						<b>商品销售价低于最低价时需要老板审核</b>
					</label>
					<label class="red" v-if="addForm.selectSysModule == '选项2'">
						<el-checkbox name="type" class="checkbox" v-model="addForm.purchaseBossAudit"></el-checkbox>
						<b>商品采购价高于预采购价时需要老板审核</b>
					</label>
				</el-form-item>
				<h3>
					②流程级数
				</h3>
				<el-form-item label="选择流程级数" prop="levelSelected">
					<el-select v-on:change="changeLevel" v-model="addForm.levelSelected">
						<el-option v-for="option in data.processLevelOptions" :label="option.label" :value="option.value" :key="option.value"></el-option>
					</el-select>
				</el-form-item>
				<h3>
					③审核人员
				</h3>
				<el-form-item v-if="selectProcessLevel > 0" prop="firstLevelAuditorsGroup" label="选择一级审核人员">
					<el-select multiple placeholder="请选择" v-model="addForm.firstLevelAuditorsGroup" width="100%">
						<el-option v-for="item in data.auditors.concat(data.bosses)" :key="item.value" :label="item.name" :value="item.value"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item v-if="selectProcessLevel == 2" prop="secondLevelAuditorsGroup" label="选择二级审核人员">
					<el-select multiple placeholder="请选择" v-model="addForm.secondLevelAuditorsGroup" width="100%">
						<el-option v-for="item in data.auditors.concat(data.bosses)" :key="item.value" :label="item.name" :value="item.value"></el-option>
					</el-select>
				</el-form-item>
				<!-- 当选择1级审核方式时，审核人员没有老板时显示老板选项 -->
				<el-form-item v-if="(addForm.selectSysModule == '选项1'&&addForm.saleBossAudit||addForm.selectSysModule == '选项2'&&addForm.purchaseBossAudit)&&selectProcessLevel == '1'&&!firstLeveAuditHasBoss&&addForm.firstLevelAuditorsGroup.length != 0" prop="bosses">
					<label>选择老板</label>
					<el-select multiple placeholder="请选择" v-model="addForm.bosses" width="100%">
						<el-option v-for="item in data.bosses" :key="item.value" :label="item.name" :value="item.value"></el-option>
					</el-select>
				</el-form-item>
				<!-- 当选择2级审核方式时，审核人员没有老板时显示老板选项 -->
				<el-form-item v-if="(addForm.selectSysModule == '选项1'&&addForm.saleBossAudit||addForm.selectSysModule == '选项2'&&addForm.purchaseBossAudit)&&selectProcessLevel == '2'&&!firstLeveAuditHasBoss&&!secondLeveAuditHasBoss&&addForm.firstLevelAuditorsGroup.length != 0&&addForm.secondLevelAuditorsGroup.length != 0" prop="bosses" label="选择老板">
					<el-select multiple placeholder="请选择" v-model="addForm.bosses" width="100%">
						<el-option v-for="item in data.bosses" :key="item.value" :label="item.name" :value="item.value"></el-option>
					</el-select>
				</el-form-item>
				<h3>
					④多人审核方式
				</h3>
				<el-form-item prop="auditMethod">
					<el-radio v-model="addForm.auditMethod" label="1">只要有一个通过审核即可向下流转</el-radio>
					<el-radio v-model="addForm.auditMethod" label="2">只有全部人员通过审核才可向下流转</el-radio>
				</el-form-item>
				<h3>
					⑤提醒方式
				</h3>
				<el-form-item>
					<el-checkbox-group v-model="addForm.remainWays" prop="remainWays">
						<el-checkbox label="站内信息" name="type" disabled></el-checkbox>
						<el-checkbox label="手机信息" name="type"></el-checkbox>
						<el-checkbox label="邮件信息" name="type"></el-checkbox>
					</el-checkbox-group>
				</el-form-item>
			</el-form>
			<div slot="footer">
				<el-button type="primary" v-on:click="saveAdd('addForm')">保存</el-button>
				<el-button v-on:click="closeAdd('addForm')">关闭</el-button>
			</div>
		</el-dialog>
		<!-- 编辑窗口 -->
		<el-dialog :visible.sync="dialogEditFormVisible">
			<div slot="title" class="title">
				新增审核流程
			</div>
			<el-form :model="editForm" :rules="rules" ref="editForm" v-loading="editDialogLoading">
				<h3>
					①系统模块
				</h3>
				<el-form-item label="选择系统模块" prop="selectSysModule">
					<el-select v-model="editForm.selectSysModule" v-on:change="editChangeModule">
						<el-option v-for="option in data.sysModuleOptions" :label="option.label" :value="option.value" :key="option.value"></el-option>
					</el-select>
					<label class="red" v-if="editForm.selectSysModule == '选项1'">
						<el-checkbox name="type" class="checkbox" v-model="editForm.saleBossAudit"></el-checkbox>
						<b>商品销售价低于最低价时需要老板审核</b>
					</label>
					<label class="red" v-if="editForm.selectSysModule == '选项2'">
						<el-checkbox name="type" class="checkbox" v-model="editForm.purchaseBossAudit"></el-checkbox>
						<b>商品采购价高于预采购价时需要老板审核</b>
					</label>
				</el-form-item>
				<h3>
					②流程级数
				</h3>
				<el-form-item label="选择流程级数" prop="levelSelected">
					<el-select v-on:change="changeLevel" v-model="editForm.levelSelected">
						<el-option v-for="option in data.processLevelOptions" :label="option.label" :value="option.value" :key="option.value"></el-option>
					</el-select>
				</el-form-item>
				<h3>
					③审核人员
				</h3>
				<el-form-item v-if="selectProcessLevel > 0" prop="firstLevelAuditorsGroup" label="选择一级审核人员">
					<el-select multiple placeholder="请选择" v-model="editForm.firstLevelAuditorsGroup" width="100%">
						<el-option v-for="item in data.auditors.concat(data.bosses)" :key="item.value" :label="item.name" :value="item.value"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item v-if="selectProcessLevel == 2" prop="secondLevelAuditorsGroup" label="选择二级审核人员">
					<el-select multiple placeholder="请选择" v-model="editForm.secondLevelAuditorsGroup" width="100%">
						<el-option v-for="item in data.auditors.concat(data.bosses)" :key="item.value" :label="item.name" :value="item.value"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item v-if="selectProcessLevel == '1'&&!firstLeveAuditHasBoss&&editForm.firstLevelAuditorsGroup.length != 0" prop="bosses">
					<label>选择老板</label>
					<el-select multiple placeholder="请选择" v-model="editForm.bosses" width="100%">
						<el-option v-for="item in data.bosses" :key="item.value" :label="item.name" :value="item.value"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item v-if="selectProcessLevel == '2'&&!firstLeveAuditHasBoss&&!secondLeveAuditHasBoss&&editForm.firstLevelAuditorsGroup.length != 0&&editForm.secondLevelAuditorsGroup.length != 0" prop="bosses" label="选择老板">
					<el-select multiple placeholder="请选择" v-model="editForm.bosses" width="100%">
						<el-option v-for="item in data.bosses" :key="item.value" :label="item.name" :value="item.value"></el-option>
					</el-select>
				</el-form-item>
				<h3>
					④多人审核方式
				</h3>
				<el-form-item prop="auditMethod">
					<el-radio v-model="editForm.auditMethod" label="1">只要有一个通过审核即可向下流转</el-radio>
					<el-radio v-model="editForm.auditMethod" label="2">只有全部人员通过审核才可向下流转</el-radio>
				</el-form-item>
				<h3>
					⑤提醒方式
				</h3>
				<el-form-item>
					<el-checkbox-group v-model="editForm.remainWays" prop="remainWays">
						<el-checkbox label="站内信息" name="type" disabled></el-checkbox>
						<el-checkbox label="手机信息" name="type"></el-checkbox>
						<el-checkbox label="邮件信息" name="type"></el-checkbox>
					</el-checkbox-group>
				</el-form-item>
			</el-form>
			<div slot="footer">
				<el-button type="primary" v-on:click="saveEdit('editForm')">保存</el-button>
				<el-button v-on:click="closeEdit('editForm')">关闭</el-button>
			</div>
		</el-dialog>
	</div>
</body>
<script type="text/javascript" src="../../vue/vue.js"></script>
<script type="text/javascript" src="../../element-ui-2.0.11/lib/index.js"></script>
<script type="text/javascript" src="../../axios/axios.min.js"></script>
<script type="text/javascript" src="../../assets/js/views/systemSettings/auditProcess.js"></script>
<script type="text/javascript">
	/**
	 * 数据获取url
	 * 数据保存url
	 * 打开编辑窗口获取url
	 * 保存编辑数据url
	 * 数据删除url
	 */
	//JGBVue.module.auditProcess().init('/auditProcess/data_get', '/auditProcess/data_save', '/auditProcess/data_edit_get', '/auditProcess/data_edit_save', '/auditProcess/data_delete');
</script>
</html>