<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>邮件信息</title>
	<link rel="stylesheet" type="text/css" href="../font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="../element-ui-2.0.11/lib/theme-chalk/index.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/common/common.css">
	<style type="text/css">
		body{
			overflow-x: hidden;
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="wrap_main">
			<div class="nav">
				<el-button-group>
					<el-button type="primary" v-on:click="save">保存</el-button>
				</el-button-group>
			</div>
			<div class="inner_main">
				<el-form class="jgb-table">
					<div class="jgb-table-column">
						<div>
							<span class="required">SMTP服务器</span>
						</div>
						<div>
							<el-input v-model="formData.serverAddress"></el-input>
						</div>
						<div>
							发送邮件的SMTP服务器地址
						</div>
					</div>
					<div class="jgb-table-column">
						<div>
							<span class="required">SSL加密连接</span>
						</div>
						<div>
							<el-switch v-model="formData.using" v-on:change="switchChange"></el-switch>
						</div>
						<div>
							是否启用SSL加密连接
						</div>
					</div>
					<div class="jgb-table-column">
						<div>
							<span class="required">SMTP端口</span>
						</div>
						<div>
							<el-input v-model="formData.port"></el-input>
						</div>
						<div>
							短信注册账号的用户名
						</div>
					</div>
					<div class="jgb-table-column">
						<div>
							<span class="required">发件人地址</span>
						</div>
						<div>
							<el-input type="password" v-model="formData.postmanAddress"></el-input>
						</div>
						<div>
							开通短信账户设置的通讯密匙
						</div>
					</div>
					<div class="jgb-table-column">
						<div>
							<span class="required">邮箱账号</span>
						</div>
						<div>
							<el-input v-model="formData.emailAccount"></el-input>
						</div>
						<div>
							....
						</div>
					</div>
					<div class="jgb-table-column">
						<div>
							<span class="required">邮箱密码</span>
						</div>
						<div>
							<el-input type="password" v-model="formData.password"></el-input>
						</div>
						<div>
							....
						</div>
					</div>
					<div class="jgb-table-column">
						<div>
							<span class="required">发件人昵称</span>
						</div>
						<div>
							<el-input v-model="formData.nickname"></el-input>
						</div>
						<div>
							....
						</div>
					</div>
				</el-form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../vue/vue.js"></script>
<script type="text/javascript" src="../element-ui-2.0.11/lib/index.js"></script>
<script type="text/javascript" src="../axios/axios.min.js"></script>
<script type="text/javascript" src="../assets/js/views/emailInfo.js"></script>
</html>