body {
  background-color: #f4f4f4; }

.el-switch__core {
  outline: none !important; }

#app {
  min-height: 600px;
  background-color: #fff; }
  #app .wrap_main {
    padding: 10px; }
    #app .wrap_main .nav {
      margin-bottom: 10px; }
    #app .wrap_main .inner_main .jgb-table {
      font-size: 14px; }
      #app .wrap_main .inner_main .jgb-table .jgb-table-column {
        width: 800px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        border-left: 1px solid #333;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        #app .wrap_main .inner_main .jgb-table .jgb-table-column > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border: 1px solid #333;
          border-left: 0;
          border-top: 0;
          text-align: left;
          padding: 10px; }
          #app .wrap_main .inner_main .jgb-table .jgb-table-column > div:first-child {
            -webkit-box-flex: 0;
            -ms-flex: 0 1 150px;
            flex: 0 1 150px;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start; }
          #app .wrap_main .inner_main .jgb-table .jgb-table-column > div span {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-right: 4px; }
          #app .wrap_main .inner_main .jgb-table .jgb-table-column > div .el-input {
            width: 200px; }
          #app .wrap_main .inner_main .jgb-table .jgb-table-column > div .required:before {
            content: '*';
            color: #f56c6c;
            margin-right: 4px; }
          #app .wrap_main .inner_main .jgb-table .jgb-table-column > div ol, #app .wrap_main .inner_main .jgb-table .jgb-table-column > div ul {
            text-align: left;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start; }
        #app .wrap_main .inner_main .jgb-table .jgb-table-column:first-child {
          border-top: 1px solid #333; }
