#app .wrap_main {
  padding: 10px; }
  #app .wrap_main .nav {
    margin-bottom: 10px; }
  #app .wrap_main .inner_main .jgb-table .jgb-table-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    border-left: 1px solid #333;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    #app .wrap_main .inner_main .jgb-table .jgb-table-column div {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      border: 1px solid #333;
      border-left: 0;
      border-top: 0; }
      #app .wrap_main .inner_main .jgb-table .jgb-table-column div:first-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
        flex: 0 1 200px; }
    #app .wrap_main .inner_main .jgb-table .jgb-table-column:first-child {
      border-top: 1px solid #333; }
