
@import './mixin.scss';
html,body{
	height: 100%;
}
body{
	margin: 0;
	padding: 8px;
	background-color: #f4f4f4;
	box-sizing: border-box;
	font-family: 'PingFangSC-Light','Hiragino Sans GB',Microsoft YaHei Light,Microsoft YaHei,Arial,sans-serif;
	overflow-y: auto;
}
[v-cloak] {
	display: none;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
a{
	text-decoration:none;
	color: inherit;
	cursor: pointer;
}
.icon-link{
	color: #1292EC;
}
.jgb-popover-wrap{
	position: relative;
	.jgb-popover{
		position: absolute;
		top: 50px;
		left: 50px;
		background: #fff;
		border: 1px solid #ddd;
		z-index: 1555555;
	}
}
ul{
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}
table{
	border-spacing: 0;
}
.jgb-title{
	line-height: 36px;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
	text-indent: .5em;
}
.jgb-wrap{
	border: 1px solid #ddd;
	background: #fff;
}
.jgb-nav{
	padding: 10px;
	border-bottom: 1px solid #ddd;
	margin: 0;
}
.jgb-brand{
	background: #3AB922;
	color: #fff;
	padding: 0 5px;
	margin: 0 5px;
	border-radius: 5px;
}
.jgb-clearFloat{
	clear: both;
	visibility: hidden;
	display: block;
	width: 0;
	font-size: 0;
	content: '.';
}
.jgb-input-dropdown__wrap{
	position: relative;
	.jgb-select-dropdown__wrap{
		position: absolute;
		top: 45px;
		left: 0;
		right: 0;
		z-index: 3000;
		background-color: #fff;
	    border-radius: 4px;
	    border: 1px solid #dcdfe6;
	    box-sizing: border-box;
	    color: #606266;
	    font-size: inherit;
	}
	.el-input__inner{
    	line-height: 40px;
    }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.el-container{
	height: 100%;
	.el-main{
		padding-top: 0;
	}
}
.el-form{
	.el-form-item{
		margin: 0;
		padding: 10px 0;
		.el-input{
			width: 217px;
		}
	}
}
.el-form-dialog{
	.el-form-item{
		padding: 0;
		.el-select{
			width: 100%;
		}
		.el-cascader{
			width: 100%;
		}
		.el-input{
			width: 100%;
		}
	}
	.hide-label{
		>.el-form-item__label{
			font-size: 0;
		}
	}
	.hide-label-hight{
		>.el-form-item__label{
			height: 0;
		}
	}
}
.el-message-box__headerbtn{
	top: 10px;
	right: 10px;
}
.el-message-box{
	.el-message-box__header{
		padding: 10px;
		background: #eee;
		.el-message-box__title{
			font-size: 14px;
		}
	}
	.el-message-box__content{
		padding: 15px 20px;
	}
	.el-message-box__btns{
		border-top: 1px solid #ddd;
		.el-button--primary{
			background: #2dc3e8 !important;
		}
	}
}
.el-checkbox-button.is-checked .el-checkbox-button__inner {
    color: #fff;
    background-color: #2dc3e8;
    border-color: #2dc3e8;
    -webkit-box-shadow: -1px 0 0 0 #8cc5ff;
    box-shadow: -1px 0 0 0 #8cc5ff;
}
.el-checkbox-button:first-child .el-checkbox-button__inner{
	border-left-color: #2dc3e8;
}
.el-checkbox-button__inner{
	padding: 6px 10px;
	font-size: 12px;
	border-color: #2dc3e8;
	color: #2dc3e8;
}
.el-radio__input.is-checked+.el-radio__label {
    color: #2dc3e8;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: #2dc3e8;
    background: #2dc3e8;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
	color: #2dc3e8;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #2dc3e8;
    border-color: #2dc3e8;
}
.required{
	&:before{
		content: '*';
		color: #f56c6c;
		margin-right: 4px;
	}
}
.el-dialog{
	width: 775px;
	.el-step__head{
		line-height: 0 !important;
	}
	.el-dialog__header{
		background: #f7f7f7;
		.title{
			font-size: 14px;
		}
	}
	.el-dialog__body{
		padding: 10px 16px;
		.title{
			font-weight: 400;
			color: #1f2f3d;
			h3{
				font-size: 22px;
			}
			h4{
				font-size: 20px;
			}
			h5{
				font-size: 18px;
			}
		}
		>h1,>h2,>h3,>h4,>h5,>h6{
			margin-bottom: 4px;
			background: #f7f7f7;
			padding: 6px 4px;
		}
		.el-checkbox-group{
			display: flex;
			flex-wrap: wrap;
			.is-bordered{
				margin:0;
			}
			.el-checkbox-wrap{
				box-sizing: border-box;
				width: 25%;
				padding: 0 10px 10px 0;
				.el-checkbox{
					width: 100%;
				}
			}
		}
	}
	.el-dialog__footer{
		border-top: 1px solid #dbdfe7;
		padding: 10px;
	}
	nav,.nav{
		margin: 0;
		line-height: 0;
		padding: 10px 0;
		border-bottom: 1px dashed #ddd;
	}
}
.info{
	font-weight: 900;
}
.red{
	color: #fe5d54;
}
.addAuditors{
	cursor: pointer;
}
.pull-left{
	float: left !important;
}
.pull-right{
	float: right !important;
}
.el-table{
	box-sizing: border-box;
	margin-bottom: 20px;
	.default-row{
		background: #f8f8f8;
	}
	.forbidden-row{
		color: #f56c6c;
	}
	.scrap-row{
		color: #F4C9AD;
	}
	th.is-leaf{
		background: linear-gradient(#f8f8f8, #efefef);
	}
}
.el-switch__core{
	outline: none !important;
}
.el-tag+.el-tag {
    margin-left: 10px;
}
.jgbvue_arrow_icon{
	display: inline-block;
    height: 11px;
    width: 6px;
}
.jgbvue_arrow_line{
	display: inline-block;
	height: 92px;
    width: 1px;
}
#app{
	position: relative;
	width: 100%;
	height: 100%;
	.nav,nav{
		margin-bottom: 10px;
		.el-form-item{
			padding: 0;
		}
	}
	.nav:after,nav:after{
		clear: both;
		visibility: hidden;
		display: block;
		content: '.';
		font-size: 0;
		width: 0;
	}
	.slideshow-wrap{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 99999999;
		.slideshow-mask{
			height: 100%;
			background: rgba(0,0,0,.5);
		}
		.slideshow-inner{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			.slideshow-inner-nav{
				color: #fff;
				.el-icon-close{
					float: right;
					font-size: 32px;
					cursor: pointer;
				}
				.index-text{
					float: left;
				}
				&:after{
					clear: both;
					width: 0;
					content: '.';
					font-size: 0;
					display: block;
					visibility: hidden;
				};
			}
			.slideshow-inner-wrap{
				position: relative;
				overflow: hidden;
				padding: 5px;
				border-radius: 5px;
				background: #fff;
				transition: all .2s;
				&:hover{
					.arrow{
						display: block;
					}
				};
				>img{
					position: absolute;
					top: 5px;
					left: 5px;
				}
				.arrow{
					z-index: 10000;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					border: 1px solid #ddd;
					background: #fff;
					text-align: center;
					line-height: 40px;
					display: none;
				}
				.arrow-right{
					position: absolute;
					top: 50%;
					right: 5px;
					transform: translateY(-50%);
					cursor: pointer;
				}
				.arrow-left{
					position: absolute;
					top: 50%;
					left: 5px;
					transform: translateY(-50%);
					cursor: pointer;
				}
			}
		}
	}
	.wrap_main{
		padding: 10px;
		.inner_main{
			background: #fff;
			.jgb-table{
				font-size: 14px;
				padding: 10px;
				background: #fff;
				.jgb-table-column{
					width: 799px;
					display: flex;
					flex-flow: row wrap;
					align-items:stretch;
					border-left: 1px solid #ebeef5;
					box-sizing: border-box;
					>div{
						display: flex;
						flex: 1;
						align-items: center;
						justify-content: center;
						border: 1px solid #ebeef5;
						border-left: 0;
						border-top: 0;
						text-align: left;
						padding: 10px;
						&:first-child{
							flex: 0 1 150px;
							justify-content: flex-start;
						}
						span{
							align-items: center;
							margin-right: 4px;
						}
						.el-input{
							width: 200px;
						}
						.required{
							&:before{
								content: '*';
								color: #f56c6c;
								margin-right: 4px;
							}
						}
						ol,ul{
							text-align: left;
							justify-content: flex-start;
						}
					}
					&:first-child{
						border-top: 1px solid #ebeef5;
					}
				}
			}
			.form-table{
				display: flex;
				flex-direction: column;
				margin-bottom: 20px;
				border: 1px solid #ebeef5;
				border-right: none;
    			border-bottom: none;
    			background: #fff;
				.form-table-thead{
					background: linear-gradient(#f8f8f8,#efefef);
				}
				.el-form-item{
					padding: 0;
					.el-form-item__content{
						display: flex;
						>div:not(.el-input){
							flex: auto;
							padding: 10px;
							text-align: center;
						    border-right: 1px solid #ebeef5;
							border-bottom: 1px solid #ebeef5;
							&:first-child{
								flex: 0 0 350px;
							}
							&:nth-child(2){
								flex: 0 0 250px;
							}
							>label{
								display: block;
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
	.wrap_footer{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 4px;
		border-top: 1px solid #dbdfe7;
		background: #f7f7f7;
		.el-pagination{
			float: right;
		}
	}
	.details-wrap{
		position: fixed;
		z-index: 10000;
		top: 0;
		right: 0;
		bottom: 0;
		width: 640px;
		background: #fff;
		padding: 4px;
		background: none repeat scroll 0 0 #fff;
		border-left: 1px solid #e1e1e1;
		// bottom: 0;
		box-shadow: -3px 0 11px rgba(0,0,0,0.2);
		&.for-html-import {//add by lanw 2018-4-22 适配在元素内引入html
			.details-inner {
				@include w-flex(row, nowrap, flex-start, stretch);
			}
		}
		&.for-courier-info {//add by lanw 2018-4-24 物流信息
			top:50%;
			bottom:5%;
			.details-container {
				height: 90%;
				overflow:auto;
			}
		}
		.details-inner{
			height: 100%;
			overflow-x: auto;
			overflow-y: auto;
		}
		.toggle-button-wrap{
			// edit by lanw 2018-4-24 修复关闭按钮没有上下居中 start 
			$height: 92px;
			height:$height;
			margin-top: -$height/2;
			// edit by lanw 2018-4-24 修复关闭按钮没有上下居中 end 
			position: absolute;
			z-index: 10000;
			top: 50%;
			left: -18px;
			width: 16px;
			// height: 92px;
			display: inline-block;
			background: #f00;
		    background-color: #fff;
		    border-bottom-left-radius: 12px;
		    border-left: 1px solid #e1e1e1;
		    border-right: 1px solid #fff;
		    border-top: 1px solid #e1e1e1;
		    border-top-left-radius: 12px;
		    box-shadow: -7px 0 11px rgba(0,0,0,0.2);
		    cursor: pointer;
		}
	}
}
.form-border{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	.title{
		font-weight: 400;
		color: #1f2f3d;
		h3{
			font-size: 22px;
		}
		h4{
			font-size: 20px;
		}
		h5{
			font-size: 18px;
		}
	}
	>div{
		padding: 0 10px;
		line-height: 32px;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		>span{
			display: inline-block;
			height: 100%;
			padding: 0 10px 0 10px;
			border-right: 1px solid #ddd;
			&:last-child{
				border-right: none;
			}
			&:first-child{
				padding-left: 0;
			}
		}
	}
}
.el-aside{
	.ul-list{
		li{
			text-align: center;
			cursor: pointer;
			padding: 5px;
			border-bottom: 1px solid #ddd;
			&:hover{
				background: #49beff;
				opacity: .5;
			}
		}
		.active{
			background: #49beff;
			color: #fff;
		}
	}
}
.el-main{
	padding: 0;
	padding-left: 8px;
	.auditorsWrap{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		.right-side{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 200px;
			overflow-y: auto;
			background: #EEEEEE;
			padding: 4px;
			border: 1px solid #ddd;
			>li{
				position: relative;
				padding: 4px;
				border-bottom: 1px solid #ddd;
				.closeBtn{
					position: absolute;
					/* background-color: red; */
					top: 4px;
					right: 4px;
					border-radius: 50%;
					padding: 2px;
				}
			}
		}
		.auditor{
			position: relative;
			box-sizing: border-box;
			width: 33.3%;
			padding: 5px;
			.selectStatus{
				position: absolute;
				top: 5px;
				right: 5px;
				background: #ff0000;
				color: #fff;
			}
			.auditorInner{
				border: 1px solid #333;
				cursor: pointer;
				.auditorPicWrap{
					float: left;
					width: 80px;
					height: 80px;
					background-color: black;
					img{
						width: 100%;
					}
				}
				.auditorInfo{
					float: left;
					padding-left: 4px;
					font-size: 12px;
					.auditText{
						display: block;
						float: left;
						width: 6em;
						overflow-x: hidden;
						white-space: nowrap;
						text-overflow:ellipsis;
					}
					.leftSpan{
						display: block;
						float: left;
					}
				}
			}
		}
		.activeSelected{
			border: 1px solid red !important;
		}
	}
}
.slide-fade-enter-active {
	transition: all .3s ease;
}
.slide-fade-leave-active {
	transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
	transform: translateX(100%);
	opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.row-border{
	line-height: 1.5;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	.title{
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
	.el-col{
		height: 100%;
		display: flex;
		>div{
			width: 50%;
			padding: 4px;
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			box-sizing: border-box;
			word-wrap:break-word;
		}
	}
}
.select-region{
	.el-input{
		width: 100% !important;
	}
	.el-form-item__content {
		margin-left: 100px !important;
	}
	.el-form-item__content {
		&:first-child{
			margin-left: 20px !important;
		}
	}
}

.jgb-table-icon{
	font-size: 24px;
	cursor: pointer;
	&:hover{
		opacity: .8;
	}
}

//报价与合同
.offerAndContract{
	$exclusive: 590px;
	.el-form {
		.exclusive {
			width: $exclusive;
		}
	}
	.table-style{
		border-top: 1px solid #ebeef5;
		border-right: 1px solid #ebeef5;
		th,td{
			position: relative;
			width: 147px;
			border-left: 1px solid #ebeef5;
			border-bottom: 1px solid #ebeef5;
		}
	}
}

//用户管理
.userManagement {
	.w-main-header {
		@include w-flex(row, nowrap, space-between, center);


		padding: 10px;
		.w-left{
			@include w-flex-grow(0, 0);
			width:50%;
		}
		.w-right {
			@include w-flex-grow(0, 1);
			@include w-flex(column, nowrap, center, flex-end);
			width:50%;
			margin-left:10px;
		}
	 	.pull-right {
			@include w-flex-grow(0, 0);
			width:45%;
		}
		.w-bottom {
			@include w-flex(row, nowrap, flex-start, center);
			.w-btn {
				@include w-flex(row, nowrap, flex-start, center);
			}
			.w-select {
				@include w-flex-grow(0, 1);
				margin-left:5px;
			}
		}
	}
	.tabs-no-content {
		box-shadow:none;
		&.el-tabs--border-card {
			border-bottom:0;
		}
		.el-tabs__content {
			padding:0;
		}
	}
	.common-tab-content {
		padding: 15px;
		border: 1px solid #e4e7ed;
		border-top:0;
	}
	.w-rights-management {
		.el-tree {
			height:360px;
			overflow:auto;
		}
	}
	.w-main-table {
		padding: 0 10px;
	}
}

//成员列表
.w-member-list {
	@include w-flex(row, wrap, flex-start, flex-start);
	height:350px;
	overflow:auto;
	.member-item {
		$height:80px;
		@include w-flex-grow(0, 1);
		@include w-flex(row, nowrap, space-between, stretch);
		@include common-border;
		width:30%;
		height:$height;
		margin-right:4%;
		margin-bottom:10px;
		cursor:pointer;
		&:nth-child(3n) {
			margin-right:0;
		}
		.member-pic {
			@include w-flex-grow(0, 0);
			width:$height;
			height:$height;
		}
		.member-info {
			@include w-flex-grow(1, 1);
			@include w-flex(column, nowrap, space-around, flex-start);
			margin-left:5px;
			font-size:$fs-small;
			color:$fc-normal;
			line-height:$fs-small*1.5;
			.info-item {
				@include line-clamp;
				cursor:text;
				/*&:hover {  //delete by lanw 2018-4-16 使用el-tooltip代替hover显示全部信息
					overflow:visible;
				}*/
			}
		}
		&.checked {
			border-color:#ff0000;
			position:relative;
			.checked-tag {
				position: absolute;
				top: 0;
				right: 0;
				background: #ff0000;
				color: #fff;
			}
		}
	}
	
}

//设置成员弹窗
.set-member {
	.el-dialog {
		width:850px;
	}
}
.set-member-wrap {
	$aside-width: 200px;
	$aside-height: 350px;
	$checked-list-width: 180px;
	.set-member-header {
		@include w-flex(row, nowrap, space-between, center);
		width:100%;
		padding:10px 0;
		margin-bottom:10px;
		border-bottom: 1px dashed #ddd;
	}
	.set-member-company {
		width:$aside-width;
		&.single {
			@include common-border;
			@include line-clamp;
			height:36px;
			background:#f5f5f5;
			box-sizing: border-box;
			font-weight:bold;
			font-size:$fs-normal;
			color:$fc-import;
			text-align:center;
			line-height:36px;
		}
	}
	.set-member-search {
		width:$aside-width;
	}
	.set-member-aside {
		@include common-border;
		width: $aside-width !important;
		height:$aside-height;
		overflow:auto;
		margin-right:10px;
	}
	.el-main {
		position:relative;
		overflow:hidden;
	}
	.btn-check-list {
		width:$checked-list-width;
	}
	.w-checked-list {
		@include common-border;
		width:$checked-list-width;
		height:$aside-height;
		background:#fff;
		overflow-x:hidden;
		overflow-y:auto;
		box-sizing:border-box;
		position:absolute;
		top:0;
		right:0;
		z-index:2;
		.checked-item {
			@include w-flex(column, nowrap, center, center);
			border-bottom:1px dashed #ddd;
			margin:0 8px 5px;
			font-size:$fs-small;
			position:relative;
			box-sizing:border-box;
			&:last-child {
				margin-bottom:0;
				border-bottom:none;
			}
		}
		.checked-close {
			font-size:16px;
			color:#ff0000;
			position:absolute;
			top:5px;
			right:0;
			cursor:pointer;
		}
	}
	.slide-from-right-enter-active,
	.slide-from-right-leave-active {
		transition: all .3s ease;
	}
	.slide-from-right-enter, .slide-from-right-leave-to {
		transform: translateX($aside-width);
	}
}

//工单管理
.workOrderManagement {
	.w-main-header {
		padding:0 10px;
		margin-bottom:20px;
		.el-date-editor--datetimerange.el-input__inner {
			width: 220px;
		}
		.el-form {
			.el-form-item {
				padding-bottom:0;
				.el-input {
					width: 150px;
				}
			}
		} 
		.order-status {
			$status-height:25px;
			@include w-flex(row, nowrap, flex-start, flex-start);
			.el-form-item__label {
				height:$status-height;
				line-height:$status-height;
			}
			.el-form-item__content {
				@include w-flex(row, nowrap, flex-start, flex-start);
				line-height:$status-height;
			}
			.el-checkbox-group {
				width:650px;
			}
			.el-checkbox {
				width:70px;
				margin-right:20px;
				margin-left:0;
				&:last-child {
					margin-right:0;
				}
			}
			.el-button-group {
				margin:10px 0;
			}
		}
	}
	.w-main-table {
		padding: 0 10px;
		.order-button {
			@include w-flex(row, wrap, flex-start, flex-start);
			.el-button--mini {
				padding: 3px 5px;
				margin-right:3px;
				margin-bottom:2px;
				&+.el-button--mini {
					margin-left:0;
				}
			}
		}
		.table-img-icon {
			font-size:20px;
			cursor:pointer;
		}
		.w-main-title {
			@include w-flex(row, nowrap, space-between, center);
			width:100%;
			height:45px;
			font-size:$fs-big;
			color:$fc-import;
		}
	}
	.w-table-pagination {
		@include w-flex(row, nowrap, center, center);
		margin-bottom:20px;
	}
}

/* 辅助属性 */

.jgb-auxiliary-attributes-wrap{
	width: 910px;
	#assisting-list{
		display: flex;
		flex-wrap: wrap;
		border: 1px solid #ccc;
		.custom{
			position: relative;
			width: 25%;
			a.item{
				display: block;
				height: 164px;
				overflow: hidden;
				background: #fff;
				color: #3b87b1;
			    border-bottom: 1px dashed #ccc;
				border-right: 1px dashed #ccc;
				text-align: center;
			}
			a.add-item{
				display: block;
				line-height: 164px;
			}
			.big-icon{
				display: block;
				width: 64px;
				height: 64px;
				margin: 40px auto 0;
				background: url(../../img/common/page_spr_icons.png) no-repeat;
			}
			.operation{
			    display: none;
			    position: absolute;
			    right: 5px;
			    top: 5px;
			    a{
			    	margin-right: 5px;
			    	&:hover{
			    		.el-icon-delete{
			    			color: #ff0000;
			    		}
			    		.el-icon-edit{
			    			color: #20AADE;
			    		}
			    	}
			    }
			}
			&:hover{
				.operation{
					display: block;
				}
			}
		}
	}
}

//工单详情
.order-details {
	height:100%;
	overflow:hidden;
	.details-title {
		@include common-border-bottom;
		padding:5px 10px;
		font-size:$fs-big;
		color:$fc-import;
		font-weight:bold;
		line-height:25px;
	}
	.details-container {
		height:100%;
		padding: 10px;
		.block-title {
			margin-top:10px;
			line-height:30px;
			font-size:$fs-big;
			color:$fc-import;
			&:first-child {
				margin-top:0;
			}
		}
	}
	.el-tabs--border-card {
		height:100%;
		.el-tabs__header {
			margin-bottom:0;
		}
		.el-tabs__content {
			height:90%;
			overflow:auto;
			box-sizing: border-box;
		}
	}
	.table-wrap {
		@include common-border;
		height:200px;
		overflow:auto;
	}
	.details-table { //工单详情表格
		border-collapse:collapse;
		width:100%;
		&.faultResult { //故障诊断
			.sub-head {
				width:140px;
			}
			.text-center {
				text-align:center; 
			}
			td {
				text-align: left;
			}
		}
		&.repair-column-4 { //4列布局
			td, th {
				width: 25%;
			}
			.preview-pdf { //合同预览
				width:100%;
				height:400px;
				overflow:auto;
				img {
					width:100%;
					height:auto;
					margin-bottom:5px;
				}
			}
			.download-contract {
				font-size:20px;
				color:#333;
				cursor:pointer;
			}
		}
		&.equipment-info { //设备信息
			th, td {
				width:14.285%;
				text-align: center;
			}
		}
		&.repair-column-6 { //6列布局
			th, td{
				width:16.6667%;
				text-align: center;
			}
			td[colspan] {
				text-align:left;
			}
		}
		&.repair-column-2 { //2列布局
			th {
				width:16.6667%;
				text-align:right;
			}
			td {
				text-align:left;
			}
		}
		&.delivery { //交付
			tr:last-child td {
				border-bottom:none;
			}
			th {
				width:50%;
				text-align: center;
				border-top:none;
				&:last-child {
					border-right:none;
				}
				&:first-child {
					border-left:none;
				}
				&.date, &.file{
					width:15%;
				}
				&.person {
					width:20%;
				}
				&.content {
					width: 32.5%;
				}
			}
			td {
				&:first-child {
					border-left:none;
				}
				&:last-child {
					border-right:none;
				}
			}
		}
		&.print-delivery-info { //打印 交付单
			th, td {
				text-align: center;
			}
			th {
				width:15%;
			}
			td {
				width:35%;
			}
		}
		&.print-delivery-content { //打印 交付单-交付内容
			th, td {
				text-align: center;
			}
			.index {
				width:20%;
			}
			.count, .unit {
				width: 10%;
			}
		}
		th {
			@include common-border;
			width:100px;
			padding:10px 0;
			font-weight:bold;
			text-align:right;
			color:$fc-light;
			font-size:$fs-normal;
		}
		td {
			@include common-border;
			width:120px;
			padding:10px 5px;
			color:$fc-import;
			font-size:$fs-normal;
			text-align: center;
		}
		.td-item {
			@include common-border-bottom;
			padding:10px 5px;
			&:last-child {
				border-bottom:0;
			}
		}
	}
	.table-img-icon {
		font-size:20px;
		color:#666;
		cursor:pointer;
	}
	.repair-log {
		@include common-border;
		width:100%;
		height:120px;
		overflow:auto;
		padding:0 10px;
		box-sizing: border-box;
		p {
			margin:8px 0;
			line-height:$fs-normal*1.5;
			font-size:$fs-normal;
			color:$fc-normal;
		}
	}
}

//新增工单
.w-order-add {
  .title {
		@include w-flex(row, nowrap, space-between, center);
  }
	.btns {
		@include w-flex(row, nowrap, flex-end, center);
		.btns-save {
			padding-right:10px;
		}
	}
	.el-form .el-form-item{
		.el-input, .el-select {
			width:100%;
		}
	} 
	.picture-box {
		@include w-flex(row, wrap, flex-start, center);
		width:100%;
	}
}
//左右对齐下拉选择框内容
.w-space-between-option {
	@include w-flex(row, wrap, space-between, center);
	width:100%;
	.code {
		font-size:$fs-normal;
		color:$fc-import;
		margin-right:10px;
	}
	.name {
		font-size:$fs-small;
		color:$fc-light;
	}
}

//图片缩略图
.w-thumbnail-wrap {
	@include w-flex(column, nowrap, center, center);
	width: 100px;
	height:100px;
	border:1px dashed #ddd;
	box-sizing: border-box;
	font-size:$fs-small;
	color:$fc-light;
	line-height:20px;
	cursor:pointer;
	img {
		width:100%;
		height:100%;
	}
  .cross {
		width:100%;
		height:auto;
	}
	.vertical {
		height:100%;
		width:auto;
	}
}
.w-thumbnail-wrap+.w-thumbnail-wrap {
	margin-left: 10px;
}

//图片走马灯
.w-pictures {
	$width: 500px;
	height: $width;
	.el-carousel__item {
		@include w-flex(row, nowrap, center, center);
	}
	.w-thumbnail-wrap {
		width:$width;
		height:$width;
		border:none;
	}
}

//导出窗口
.w-export {
	.el-checkbox {
    margin-right: 15px !important;
    margin-bottom: 15px !important;
	}
}

//工单信息打印页
.w-print-page {
	$print-color:#333;
	padding:15px;
	.print-title {
		font-size:30px;
		color:$print-color;
		text-align:center;
		line-height:45px;
	}
	.order-info {
		@include w-flex(row, wrap, space-between, center);
		width:100%;
		height:30px;
		color:$print-color;
		.left {
			@include w-flex-grow(0, 0);
			@include w-flex(row, nowrap, flex-start, center);
		}
		.right {
			@include w-flex-grow(0, 0);
		}
	}
	.w-print-column-6 {
		width:100%;
		border-collapse:collapse;
		td, th {
			@include common-border;
			width:16.6667%;
			padding:10px;
			color:$print-color;
			text-align: center;
			font-weight:500;
			&[colspan] {
				text-align: left;
			}
		}
	} 
}
.w-print-footer-btn {
	@include w-flex(row, wrap, flex-end, center);
	margin: 20px 0;
	padding: 0 20px;
}

//工单列表打印页
.w-print-list {
	$header-height: 50px;
	background:#fff;
	padding: $header-height 10px 20px;
	position:relative;
	.w-order-list {
		width: 100%;
		border-collapse:collapse;
		td, th {
			@include common-border;
			text-align: center;
			padding: 10px 0;
			font-size:$fs-normal;
			line-height:$fs-normal*1.2
		}
	}
}
.w-print-list-header {
	$header-height: 50px;
	@include w-flex(row, nowrap, flex-end, center);
	height:$header-height;
	padding:0 30px;
	background:rgba(0,0,0,.5);
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:500;
}

//列设置
.w-column-setting {
	@include w-flex(row, nowrap, space-between, stretch);
	.column-table {
		width:540px;
	}
	.action {
		@include w-flex(column, nowrap, center, center);
		margin-left:10px;
		.el-button+.el-button {
			margin-left: 0;
			margin-top:15px;
		}
	}
}

//故障诊断
.diagnosis-form {
	height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 5px;
	.el-form-item{
		&.cost {
			line-height: 25px;
			padding:0;
		}
		.el-input, .el-select {
			width:100%;
		}
	} 
	// 配件
	.accessories-label {
		position:relative;
		.label-action {
			@include w-flex(column, nowrap, space-around, center);
			margin-right: -10px;
			position:absolute;
			top:0;
			right:0;
			bottom:0;
		}
		.circle {
			color:#f00;
			font-size:18px;
			cursor:pointer;
			&:hover {
				opacity: .7;
			}
		}
	}
	.accessories-content {
		.accessories-subtotal {
			@include w-flex(row, nowrap, flex-start, center);
			line-height:25px;
			.subtotal{
				width:150px;
			}
			.el-input-number {
				margin-right:10px;
			}
		}
	}
}
.diagnosis-form-footer {
	@include w-flex(row, nowrap, space-between, center);
	width:100%;
	border-top:1px solid #ddd;
	padding-top:5px;
}

//公共表单样式复写
.w-common-form {
	.el-form-item {
		.el-input, .el-select {
			width: 100%;
		}
	}
}

//最终成本 表格
.final-cost {
	width:100%;
	border-collapse:collapse;
	th, td {
		@include common-border;
		padding:5px;
		text-align: center;
		position:relative;
		.el-form-item {
			&.cost {
				width: 100px;
				margin:0 auto;
				.el-input {
					width: 100%;
				}
			}
		}
	}
}
//空数据单元格
.w-empty-cell {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

//公共表单表格
.w-common-form-table {
	width:100%;
	border-collapse:collapse;
	th, td {
		@include common-border;
		padding:5px;
		text-align: center;
		position:relative;
		.el-form-item {
			&.cost {
				width: 100px;
				margin:0 auto;
				.el-input {
					width: 100%;
				}
			}
		}
		//表格式表单中点击出现输入框
		.show-on-focus {
			.el-input__inner,
			.el-textarea__inner {
				border:none;
				box-sizing:border-box;
				&:focus {
					border: 1px solid #409EFF;
				}
			}
		}
	}
}