body{
	background-color: #f4f4f4;
	box-sizing: border-box;
	font-family: 'PingFangSC-Light','Hiragino Sans GB',Microsoft YaHei Light,Microsoft YaHei,Arial,sans-serif;
}
[v-cloak] {
	display: none;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
ul{
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}
.el-form{
	.el-form-item{
		margin: 0;
		padding: 10px 0;
		.el-input{
			width: 217px;
		}
	}
}
.el-message-box__headerbtn{
	top: 10px;
	right: 10px;
}
.el-message-box{
	.el-message-box__header{
		padding: 10px;
		background: #eee;
		.el-message-box__title{
			font-size: 14px;
		}
	}
	.el-message-box__content{
		padding: 15px 20px;
	}
	.el-message-box__btns{
		border-top: 1px solid #ddd;
		.el-button--primary{
			background: #2dc3e8 !important;
		}
		/* .el-button--default{
			background: #ddd;
		} */
	}
}
.el-checkbox-button.is-checked .el-checkbox-button__inner {
    color: #fff;
    background-color: #2dc3e8;
    border-color: #2dc3e8;
    -webkit-box-shadow: -1px 0 0 0 #8cc5ff;
    box-shadow: -1px 0 0 0 #8cc5ff;
}
.el-checkbox-button:first-child .el-checkbox-button__inner{
	border-left-color: #2dc3e8;
}
.el-checkbox-button__inner{
	padding: 6px 10px;
	font-size: 12px;
	border-color: #2dc3e8;
	color: #2dc3e8;
}
.el-radio__input.is-checked+.el-radio__label {
    color: #2dc3e8;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: #2dc3e8;
    background: #2dc3e8;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
	color: #2dc3e8;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #2dc3e8;
    border-color: #2dc3e8;
}
.el-dialog{
	width: 775px;
	.el-dialog__header{
		background: #f7f7f7;
		.title{
			font-size: 14px;
		}
	}
	.el-dialog__body{
		padding: 10px 16px;
		h1,h2,h3,h4,h5,h6{
			margin-bottom: 4px;
			background: #f7f7f7;
			padding: 6px 4px;
		}
		.checkbox{
			margin-left: 40px;
		}
		.el-checkbox-group{
			display: flex;
			flex-wrap: wrap;
			.is-bordered{
				margin:0;
			}
			.el-checkbox-wrap{
				box-sizing: border-box;
				width: 25%;
				padding: 0 10px 10px 0;
				.el-checkbox{
					width: 100%;
				}
			}
		}
	}
	.el-dialog__footer{
		border-top: 1px solid #dbdfe7;
		padding: 10px;
	}
}
.info{
	font-weight: 900;
}
.red{
	color: #fe5d54;
}
.addAuditors{
	cursor: pointer;
}
.pull-left{
	float: left !important;
}
.pull-right{
	float: right !important;
}
.el-table{
	box-sizing: border-box;
	margin-bottom: 20px;
	.default-row{
		background: #f8f8f8;
	}
	th.is-leaf{
		background: linear-gradient(#f8f8f8, #efefef);
	}
}
.el-switch__core{
	outline: none !important;
}
.el-tag+.el-tag {
    margin-left: 10px;
}
#app{
	position: relative;
	width: 100%;
	min-height: 600px;
	.wrap_main{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 10px;
		.nav,nav{
			margin-bottom: 10px;
			.el-form-item{
				padding: 0;
			}
		}
		.inner_main{
			position: absolute;
			top: 70px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			background: #fff;
			.jgb-table{
				font-size: 14px;
				padding: 10px;
				background: #fff;
				.jgb-table-column{
					width: 799px;
					display: flex;
					flex-flow: row wrap;
					align-items:stretch;
					border-left: 1px solid #ebeef5;
					box-sizing: border-box;
					>div{
						display: flex;
						flex: 1;
						align-items: center;
						justify-content: center;
						border: 1px solid #ebeef5;
						border-left: 0;
						border-top: 0;
						text-align: left;
						padding: 10px;
						&:first-child{
							flex: 0 1 150px;
							justify-content: flex-start;
						}
						span{
							align-items: center;
							margin-right: 4px;
						}
						.el-input{
							width: 200px;
						}
						.required{
							&:before{
								content: '*';
								color: #f56c6c;
								margin-right: 4px;
							}
						}
						ol,ul{
							text-align: left;
							justify-content: flex-start;
						}
					}
					&:first-child{
						border-top: 1px solid #ebeef5;
					}
				}
			}
			.form-table{
				display: flex;
				flex-direction: column;
				margin-bottom: 20px;
				border: 1px solid #ebeef5;
				border-right: none;
    			border-bottom: none;
    			background: #fff;
				.form-table-thead{
					background: linear-gradient(#f8f8f8,#efefef);
				}
				.el-form-item{
					padding: 0;
					.el-form-item__content{
						display: flex;
						>div:not(.el-input){
							flex: auto;
							padding: 10px;
							text-align: center;
						    border-right: 1px solid #ebeef5;
							border-bottom: 1px solid #ebeef5;
							&:first-child{
								flex: 0 0 350px;
							}
							&:nth-child(2){
								flex: 0 0 250px;
							}
							>label{
								display: block;
								height: 100%;
							}
						}
					}
				}
			}
			.inner_footer{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 4px;
				border-top: 1px solid #dbdfe7;
				background: #f7f7f7;
				.el-pagination{
					float: right;
				}
			}
		}
	}
}