body{
	background-color: #f4f4f4;
}
.red{
	color: #fe5d54;
}
.el-table{
	box-sizing: border-box;
	.default-row{
		background: #f8f8f8;
	}
}
.el-switch__core{
	outline: none !important;
}
#app{
	min-height: 600px;
	background-color: #fff;
	.wrap_main{
		padding: 10px;
		.nav,nav{
			margin-bottom: 10px;
		}
		.inner_main{
			.jgb-table{
				font-size: 14px;
				.jgb-table-column{
					width: 800px;
					display: flex;
					flex-flow: row wrap;
					align-items:stretch;
					border-left: 1px solid #333;
					box-sizing: border-box;
					>div{
						display: flex;
						flex: 1;
						align-items: center;
						justify-content: center;
						border: 1px solid #333;
						border-left: 0;
						border-top: 0;
						text-align: left;
						padding: 10px;
						&:first-child{
							flex: 0 1 150px;
							justify-content: flex-start;
						}
						span{
							align-items: center;
							margin-right: 4px;
						}
						.el-input{
							width: 200px;
						}
						.required{
							&:before{
								content: '*';
								color: #f56c6c;
								margin-right: 4px;
							}
						}
						ol,ul{
							text-align: left;
							justify-content: flex-start;
						}
					}
					&:first-child{
						border-top: 1px solid #333;
					}
				}
			}
		}
	}
}